## Review do Livro: Python para Análise de Dados

### Capítulo 1

 - Introdução
 - Estruturas
 - O que é e por quê python

### Capítulo 2

In [3]:
import pandas as pd

In [2]:
b = [1,2,3]

In [3]:
b?

In [ ]:
print?

In [4]:
print()

In [12]:
def add_numbers(a,b):
    """
    Add two numbers together

    Returns
    -------
    the_sum : type of arguments
    """
    return a + b

In [14]:
add_numbers?

In [ ]:
add_numbers??

In [17]:
a = [1,2,3]

In [18]:
b=a

In [19]:
a.append(4)

In [20]:
b

[1, 2, 3, 4]

In [21]:
import some_module

In [22]:
result = some_module.f(5)
result

7

In [23]:
pi = some_module.PI
pi

3.14159

In [24]:
from some_module  import f, g, PI

In [26]:
result = g(5,PI)
result

8.14159

### Capítulo 3

##### Tuplas

In [ ]:
tup = 1,2,3
tup

In [2]:
nested_tup = (1,2,3), (4,5)
nested_tup

((1, 2, 3), (4, 5))

In [3]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [4]:
tup[0]

's'

In [19]:
tup = tuple(['foo', [1,2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [14]:
tup

('foo', [1, 2], True)

In [20]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [16]:
tup = (4,5,6)
a, b, c = tup
b

5

In [17]:
values = 1,2,3,4,5
a,b, *rest = values
a,b

(1, 2)

In [18]:
rest

[3, 4, 5]

##### Listas

In [22]:
b_list = list(tup)
b_list

['foo', [1, 2, 3], True]

In [24]:
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', True]

In [26]:
gen = range(10)
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', True, 'dwarf']

In [29]:
#MUITO CUSTOSO
b_list.insert(1, 'blue')
b_list

['foo', 'blue', 'red', 'peekaboo', True, 'dwarf']

In [30]:
b_list.pop(2)
b_list

['foo', 'blue', 'peekaboo', True, 'dwarf']

In [31]:
b_list.remove('peekaboo')
b_list

['foo', 'blue', True, 'dwarf']

In [32]:
'foo' in b_list

True

In [33]:
'foo' not in b_list

False

In [34]:
x = [4, None, 'foo']
x.extend([7,8,(2,3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [35]:
a = [7,2,5,1,3]
a

[7, 2, 5, 1, 3]

In [37]:
a.sort()
a

[1, 2, 3, 5, 7]

In [38]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b

['saw', 'small', 'He', 'foxes', 'six']

In [39]:
b.sort(key=len)

In [40]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [41]:
import bisect

In [42]:
c = [1,2,2,2,3,4,7]
c

[1, 2, 2, 2, 3, 4, 7]

In [43]:
bisect.bisect(c,2)

4

In [44]:
c

[1, 2, 2, 2, 3, 4, 7]

In [45]:
bisect.bisect(c,5)

6

In [46]:
bisect.insort(c, 6)

In [47]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [48]:
seq = [7,2,3,7,5,6,0,1]
seq[1:5]

[2, 3, 7, 5]

In [50]:
seq[3:4] = [6,3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [51]:
seq[:5]

[7, 2, 3, 6, 3]

In [52]:
seq[5:]

[5, 6, 0, 1]

In [53]:
seq[-6:-2]

[6, 3, 5, 6]

In [54]:
seq[::2]

[7, 3, 3, 6, 1]

In [55]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [63]:
def funcao_teste(num1, num2=2)-> str:
    return num1 + num2

In [64]:
result = funcao_teste(1)
result

3

In [65]:
type(result)

int

In [14]:
some_list = ['foo', 'bar', 'baz']

mapping = {}

In [16]:
for i, v in enumerate(some_list):
    print(i)
    print('v: ' + v)
    mapping[v] = i
    
mapping

0
v: foo
1
v: bar
2
v: baz

{'foo': 0, 'bar': 1, 'baz': 2}

In [17]:
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [18]:
sorted('cibele simoes')

[' ', 'b', 'c', 'e', 'e', 'e', 'i', 'i', 'l', 'm', 'o', 's', 's']

In [19]:
d1 = { 'a' : 'some value', 'b' : [1,2,3,4]}

In [20]:
d1['a']

'some value'

In [23]:
'b' in d1

True

In [24]:
d1[5] = 'valorzinho'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 5: 'valorzinho'}

In [26]:
d1[7] = 'an integer'

In [27]:
del d1[5]
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [29]:
d1.pop(7)

'an integer'

In [30]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [31]:
seq1 = ['bala', 'lsd', 'lolo']
seq2 = ['nao quero', 'nunca vi', 'apelido']

zipped = zip(seq1, seq2)
zipped

In [32]:
list(zipped)

[('bala', 'nao quero'), ('lsd', 'nunca vi'), ('lolo', 'apelido')]

In [33]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0} : {1}, {2}'.format(i, a, b))

0 : bala, nao quero
1 : lsd, nunca vi
2 : lolo, apelido

### Enumerate

In [2]:
some_list = ['foo', 'bar', 'baz']
mapping = {}

for i, v in enumerate(some_list):
    mapping[v] = i
    
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [9]:
sorted(some_list)

['bar', 'baz', 'foo']

### zip

In [11]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [12]:
seq3 = [False, True]
zipped = zip(seq1, seq2, seq3)
list(zipped)

[('foo', 'one', False), ('bar', 'two', True)]

In [13]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [14]:
atores = [('Angelina', 'Jolie'), ('Brad', 'Pitt'), ('Leonardo', 'Di Caprio')]
first_names, last_names = zip(*atores)
first_names

('Angelina', 'Brad', 'Leonardo')

In [15]:
last_names

('Jolie', 'Pitt', 'Di Caprio')

#### reversed

In [21]:
list(reversed(range(2,10,2)))

[8, 6, 4, 2]

### dict

In [25]:
d1 = {'a': 'some value', 'b': [1,2,3,4]}
d1[7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [27]:
'b' in d1

True

In [31]:
d1[5] = 'some value'
d1['dummy']= 'another'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another'}

In [32]:
del d1[5]

In [33]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 'dummy': 'another'}

In [34]:
ret = d1.pop('dummy')
ret

'another'

In [37]:
list(d1.keys())

['a', 'b', 7]

In [38]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [39]:
d1.update({'b' : 'foo', 'c': 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [43]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
    
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}